/*

Add styles or override variables from the theme here.

*/

$primary: #15346d;
$secondary: #A23B72; 
$info: #1b65bc;
$dark: #15346d;

table {
    @extend .table-striped;

    @extend .table-responsive;
    @extend .table;
}
