+++
title = "SENSIBLE-KI"
linkTitle = "sensible-ki"

+++

{{< blocks/cover title="SENSIBLE-KI" image_anchor="top" height="full" color="dark" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="https://www.mi.fu-berlin.de/inf/groups/ag-idm/projects/Sensible-KI/index.html">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/sensible-ki">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Secure and trustworthy mobile AI.</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
The project Sensible AI explores solutions to make artificial intelligence (AI) systems in mobile applications and embedded systems secure and trustworthy. 
{{% /blocks/lead %}}

{{% blocks/lead color="white" %}}
Partners from industry, applied research and scientific research are working in the project, which is funded by the German Federal Ministry for Economic Affairs and Energy BMWi, to ensure the integrity and authenticity of AI systems. For example, methods are being developed that ensure the confidentiality of the systems themselves, while at the same time protecting the privacy of the data and enabling secure transmission to mobile devices. 
<div style="display:flex;flex-direction: row; justify-content:space-around;align-items: stretch;width:80%;margin:auto;padding-top:30px">

<div>
	<img src="/img/logo-aisec.jpg" style="max-width:170px" />
</div>
<div>
	<img src="/img/logo-dasec.svg" style="max-width:170px" />
</div>
<div>
	<img src="/img/BMWi_Fz_2017_Web2x_de.gif" style="max-width:170px" />
</div>

{{% /blocks/lead %}}

{{< blocks/lead color="dark" >}}
The project not only includes expert knowledge from cybersecurity research and industry, but also relies on a broad developer community from various industries and domains. This ensures that the approaches and methods developed also deliver the protection that is needed in practice.



{{< /blocks/lead >}}