+++
title = "SENSIBLE-KI"
linkTitle = "sensible-ki"

+++

{{< blocks/cover title="SENSIBLE-KI" image_anchor="top" height="full" color="dark" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="https://www.aisec.fraunhofer.de/de/presse-und-veranstaltungen/presse/pressemitteilungen/2021/SensibleKI.html">
		Mehr erfahren <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/sensible-ki">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Sichere und vertrauenswürdige mobile KI.</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Das Projekt SENSIBLE-KI erforscht Lösungen, um Systeme der Künstlichen Intelligenz (KI) in mobilen Anwendungen und eingebetteten Systemen sicher und vertrauenswürdig zu gestalten. 
{{% /blocks/lead %}}

{{% blocks/lead color="white" %}}
Partner aus Wirtschaft, angewandter Forschung und Forschung arbeiten in dem vom Bundesministerium für Wirtschaft und Energie BMWi geförderten Projekt daran, die Integrität und Authentizität von KI-Systemen zu waren. Dabei werden unter anderem Methoden entwickelt, die die Vertraulichkeit der Systeme selbst sicherstellt, gleichzeitig aber auch die Privatheit der Daten schützt und eine sichere Übertragung auf mobile Endgeräte ermöglicht. 
<div style="display:flex;flex-direction: row; justify-content:space-around;align-items: stretch;width:80%;margin:auto;padding-top:30px">

<div>
	<img src="/img/logo-aisec.jpg" style="max-width:170px" />
</div>
<div>
	<img src="/img/Logo-Nexenio-BLACK.svg" style="max-width:170px" />
</div>
<div>
	<img src="/img/logo-dasec.svg" style="max-width:170px" />
</div>
<div>
	<img src="/img/logo-bdr.jpg" style="max-width:170px;" />
</div>
<div>
	<img src="/img/BMWi_Fz_2017_Web2x_de.gif" style="max-width:170px" />
</div>

{{% /blocks/lead %}}

{{< blocks/lead color="dark" >}}
Dabei greift das Projekt nicht nur auf das Expertenwissen aus der Cybersicherheitsforschung und der Industrie zurück, sondern setzt gleichzeitig auf eine breite Entwickler-Community aus verschiedenen Branchen und Domänen. So wird sichergestellt, dass die entwickelten Ansätze und Methoden auch den Schutz liefern, die in der Praxis benötigt werden. 



{{< /blocks/lead >}}